@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins);
  --color-datia-purple-900: #250052;
  --color-datia-purple-700: #451895;
  --color-datia-purple-600: #6429cd;
  --color-datia-btn-fill: #f6f7fc;
  --color-datia-btn-text: #330072;
}

body {
  font-family: var(--font-poppins), sans-serif;
}
